/* CSS to be added */
body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}
*{
  line-height : 1.5;
}

.btn {
  color: #fff;
  background: var(--primary-color);
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 12px;
}

.links-home {
  font: bold;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

h2 {
    text-align: center;
    margin: 0 0 20px; 
 }

.container, .card {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    width: 550px;
  }
