/* CSS to be added */
body {
  background-color: powderblue;
}
h1 {
  color: blue;
  text-align: left;
  margin: 0 0 20px; 
}
p {
  color: red;
 text-align : left;
}
*{
  line-height : 3;
}

.btn {
  background-color: powderblue;
  color: #fff;
  background: var(--primary-color);
  cursor: pointer;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px 15px;
}

.links-home {
  font: bold;
  display: flex;
  text-align: left;
  justify-content: space-around;
}

h2 {
    text-align: left;
    margin: 0 0 20px; 
 }

.container, .card {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    width: 550px;
  }
